
@{
    ViewBag.Title = "Addorganization";
    Layout = "~/shared/_masterlayout.cshtml";
}

<h2>Addorganization</h2>
<div class="row">
    <form >
        <input type="text" />
        <input type="text" />
        <input type="text" />
        v
        <input type="text" />
    </form>
</div>

